---
import { Icon } from "astro-icon/components";
import EvenCard from "../EvenCard.astro";
import OddCard from "../OddCard.astro";

const doctorsMd = await Astro.glob("../../pages/about/doctors_md/*.md");
---

<div class="flex flex-col">
  <div
    class="relative bg-[url('/images/tph-building.jpg')] bg-cover bg-center h-[50vh] flex items-center justify-center"
  >
    <div class="absolute inset-0 bg-blue-400 opacity-85"></div>
    <div class="relative z-10 text-white p-4">
      <div>
        <div
          class="h-full flex flex-col items-center px-8 lg:px-24 pt-32 pb-12 bg-cover bg-center gap-10"
        >
          <span
            class="uppercase text-5xl text-white dark:text-white font-bold animate__animated animate__fadeInDown text-center"
          >
            About Us
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Intro for about us section -->
  <div
    class="grid lg:grid-cols-2 sm:grid-rows-1 md:grid-rows-1 items-center justify-center animate__animated animate__fadeIn"
  >
    <div class="flex flex-col items-center justify-center py-20 px-5 lg:px-24">
      <h1
        class="text-3xl font-bold text-gray-800 mb-10 hover:scale-105 transition-all duration-300 ease-in-out"
      >
        ANO ANG SDN SILIP SAAKIT PROGRAM?
      </h1>
      <p class="text-lg text-dark-600 mb-16 dark:text-gray-900">
        SDN AY ISANG PROGRAMA NG PAMAHALAANG PANLALAWIGAN NG TARLAC NA
        NAGLALAYONG IHATID ANG DEKALIDAD NA SERBISYONG PANGKALUSUGAN PARA SA
        LAHAT NG MGA TARLAKENYO
      </p>
    </div>
    <div
      class="flex flex-col items-center justify-center bg-blue-600 py-20 px-5 lg:px-24"
    >
      <h1
        class="text-3xl font-bold text-white mb-10 hover:scale-105 transition-all duration-300 ease-in-out"
      >
        SINO ANG BUMUBUO SA SDN SILIP SAKIT PROGRAM?
      </h1>
      <p class="text-lg text-white mb-16">
        SDN AY ISANG PROGRAMA NG PAMAHALAANG PANLALAWIGAN NG TARLAC NA
        NAGLALAYONG IHATID ANG DEKALIDAD NA SERBISYONG PANGKALUSUGAN PARA SA
        LAHAT NG MGA TARLAKENYO
      </p>
    </div>
  </div>

  <div class="flex flex-wrap items-center justify-center gap-20 px-5 lg:px-24 py-20">
    <div>
      <div class="flex flex-row gap-5 items-center">
        <div class="bg-blue-500 rounded-4xl p-2">
          <Icon
            class={"text-white"}
            name={"mdi:location"}
            width={40}
            height={40}
          />
        </div>
        <div class="flex flex-col">
          <span class="text-md text-gray-900 uppercase">ADDRESS</span>
          <span class="text-lg font-bold text-gray-900 uppercase"
            >Hospital Dr, Tarlac City, Tarlac</span
          >
        </div>
      </div>
    </div>
    <div>
      <div class="flex flex-row gap-5 items-center">
        <div class="bg-blue-500 rounded-4xl p-2">
          <Icon
            class={"text-white"}
            name={"mdi:phone"}
            width={40}
            height={40}
          />
        </div>
        <div class="flex flex-col">
          <span class="text-md text-gray-900 uppercase">CONTACT</span>
          <span class="text-lg font-bold text-gray-900 uppercase"
            >+63454918970</span
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Meet our doctors section -->
  <div class="flex flex-col gap-5 px-8 lg:px-24">
    <div>
      <div
        class="h-full flex flex-col items-center px-8 lg:px-24 pt-20 pb-12 bg-cover bg-center bg-white gap-10"
      >
        <span
          class="uppercase text-5xl text-blue-700 dark:text-gray-900 font-bold text-dark animate__animated animate__fadeInDown text-center"
        >
          Meet our doctors
        </span>
      </div>
    </div>
    {
      doctorsMd.map((doctor, index) => {
        {
          if (index % 2 === 0) {
            return (
              <EvenCard
                name={doctor.frontmatter.name}
                description={doctor.frontmatter.description}
                img={doctor.frontmatter.img}
              />
            );
          } else {
            return (
              <OddCard
                name={doctor.frontmatter.name}
                description={doctor.frontmatter.description}
                img={doctor.frontmatter.img}
              />
            );
          }
        }
      })
    }
  </div>
</div>
