---
import { Image } from "astro:assets";
import top from "/public/images/tph-logo.png";
import "animate.css";
import { Icon } from "astro-icon/components";

const details = [
  {
    logo: "mdi:phone",
    value: "+63454918970",
  },
  {
    logo: "mdi:location",
    value: "Hospital Dr, Tarlac City, Tarlac",
  },
  {
    logo: "mdi:email",
    value: "qwerty@email.com",
  },
  {
    logo: "mdi:video",
    value: "Media Request",
  },
];
const data = [
  {
    title: "SERVICES",
    items: ["Our Institutes", "Our Clinics", "Price List", "Operating Hours"],
  },
  {
    title: "ABOUT US",
    items: [
      "About Tarlac Provincial Hospital",
      "Mission and Vision",
      "Core Values",
      "Quality and Safety",
    ],
  },
  {
    title: "Online Services",
    items: [
      "TeleConsultation Services",
      "Online HMO Concierge",
      "Online Screening",
    ],
  },
];
---

<div class="animate__animated animate__fadeIn">
  <div
    class="flex flex-col gap-10 p-10 w-full h-auto bg-green-700 justify-center items-center px-24"
  >
    <div class="flex flex-row h-auto gap-10">
      <div class="flex flex-col gap-5">
        <Image alt="footer logo" src={top} width={75} height={75} />
        {
          details.map((d) => {
            return (
              <div class="flex flex-row gap-2">
                {d.logo == null ? (
                  <div>Logo Here</div>
                ) : (
                  <div>
                    <Icon
                      class="text-white"
                      height={30}
                      width={30}
                      name={d.logo}
                    />
                  </div>
                )}
                <div class="flex flex-wrap text-white font-bold w-35 text-sm">
                  {d.value}
                </div>
              </div>
            );
          })
        }
      </div>
      <div class="flex flex-wrap items-center justify-center gap-10">
        {
          data.map((d) => {
            return (
              <div class="flex flex-col gap-2">
                <span class="text-lg font-bold text-white">{d.title}</span>
                <ul>
                  {d.items.map((item) => {
                    return (
                      <li class="text-sm text-white">
                        <a href="#" class="hover:text-gray-400 cursor-pointer">
                          {item}
                        </a>
                      </li>
                    );
                  })}
                </ul>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
  <div
    class="flex sm:flex-row flex-col gap-5 lg:gap-2 p-10 w-full h-auto bg-green-600 justify-between items-between px-32"
  >
    <div class="flex flex-wrap gap-5">
      <a href="#" class="lg:text-lg text-sm sm:text-sm md:text-sm text-white hover:text-gray-400"
        >Privacy Policy</a
      >
      <a href="#" class="text-white lg:text-lg text-sm font-bold"> | </a>
      <a href="#" class="lg:text-lg text-sm sm:text-sm md:text-sm text-white hover:text-gray-400"
        >Terms & Conditions</a
      >
      <a href="#" class="text-white lg:text-lg text-sm font-bold"> | </a>
      <a href="#" class="lg:text-lg text-sm sm:text-sm md:text-sm text-white hover:text-gray-400">Sitemap</a>
    </div>
    <div>
      <span class="lg:text-lg text-sm text-white"
        >Copyright © 2025 Provincial Government of Tarlac. All Rights Reserved.</span
      >
    </div>
  </div>
</div>
