---
import "animate.css";
import { Image } from "astro:assets";
import SdnLogo from "/public/images/sdn-logo.jpg";
import { Icon } from "astro-icon/components";
import SearchInput from "./SearchInput.astro";
import navData from "../data/NavData.";
import NavLink from "./NavLink.astro";

const { pathname } = Astro.url;

const data = [
  {
    icon: "mdi:email",
    label: "mailto:example@domain.com",
    url: "#",
  },
  {
    icon: "mdi:location",
    label: "Hospital Dr, Tarlac City, Tarlac",
    url: null,
  },
  {
    icon: "mdi:clock-outline",
    label: "Mon - Fri: 8:00 am to 7:00 pm",
    url: null,
  },
];

const socials = [
  {
    icon: "mdi:facebook",
    url: null,
  },
  {
    icon: "mdi:twitter",
    url: null,
  },
  {
    icon: "mdi:instagram",
    url: null,
  },
];
---

<div class="animate__animated animate__fadeIn">
  <!-- First row header -->
  <div
    class="flex sm:flex-row flex-col sm:items-between items-center justify-between px-24 py-5 bg-blue-700 dark:bg-blue-700"
  >
    <!-- Details -->
    <div class="flex flex-wrap gap-2 items-center justify-center">
      {
        data.map((d, index) => {
          return (
            <div class="flex flex-row gap-1">
              <div>
                <Icon
                  class={"text-white text-sm"}
                  name={d.icon}
                  width={30}
                  height={30}
                />
              </div>
              <div>
                <a
                  class="text-white font-bold text-sm hover:text-gray-400 cursor-pointer"
                  href={d.url}
                >
                  {d.label}
                </a>
              </div>
              {/* Add separator '|' if it's not the last item */}
              {index !== data.length - 1 && (
                <div>
                  <span class="font-bold text-white">|</span>
                </div>
              )}
            </div>
          );
        })
      }
    </div>

    <!-- Socials -->
    <div class="flex flex-wrap gap-2 items-center">
      <div class="text-white font-bold" id="time-display"></div>
      {
        socials.map((social) => {
          return (
            <div>
              <a
                href={social.url}
                class="text-white hover:text-gray-400 cursor-pointer"
              >
                <Icon name={social.icon} width={30} height={30} />
              </a>
            </div>
          );
        })
      }
    </div>
  </div>
  <div
    class="flex flex-row items-center sm:items-between justify-center gap-62 px-32 sm:px-10 md:px-10 py-5 dark:bg-white"
  >
    <div>
      <Image
        src={SdnLogo}
        alt={"sdn-logo"}
        width={100}
        height={100}
        class="w-auto max-w-xs"
        loading="lazy"
      />
    </div>
    <div
      class="flex flex-col items-center justify-center gap-2 lg:block hidden md:hidden"
    >
      <div class="flex flex-row gap-10">
        {
          navData.map((nav) => {
            return (
              <NavLink
                name={nav.name}
                path={nav.path}
                isActive={
                  nav.path === "/"
                    ? pathname === nav.path
                    : pathname.includes(nav.path)
                }
              />
            );
          })
        }
        <SearchInput />
      </div>
    </div>
    <button
      class="btn lg:hidden sm:block md:block dark:bg-white dark:text-gray-400"
      onclick="my_modal_1.showModal()"
      ><Icon name={"mdi:hamburger-menu"} width={30} height={30} />
    </button>
    <dialog id="my_modal_1" class="modal">
      <div class="modal-box dark:bg-white">
        <h3 class="text-lg font-bold dark:text-gray-900">Navigation</h3>
        <ul
          tabindex="10"
          class="dropdown-content menu bg-base-100 rounded-box z-50 w-full p-2 shadow-sm dark:bg-white"
        >
          {
            navData.map((nav) => {
              return (
                <li>
                  <NavLink
                    name={nav.name}
                    path={nav.path}
                    isActive={
                      nav.path === "/"
                        ? pathname === nav.path
                        : pathname.includes(nav.path)
                    }
                  />
                </li>
              );
            })
          }
        </ul>
        <div class="modal-action">
          <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn">Close</button>
          </form>
        </div>
      </div>
    </dialog>
  </div>
  <div class="lg:hidden sm:block md:block py-2 dark:bg-white">
    <SearchInput />
  </div>
</div>
<script>
  function updateTime() {
    const now = new Date();

    let hours = now.getHours();
    const minutes = now.getMinutes().toString().padStart(2, "0");
    const seconds = now.getSeconds().toString().padStart(2, "0");

    // Determine AM or PM
    const period = hours >= 12 ? "PM" : "AM";

    // Convert hours from 24-hour format to 12-hour format
    hours = hours % 12;
    hours = hours ? hours : 12; // If hours is 0 (midnight), set it to 12

    // Display the time in 12-hour format with AM/PM
    document.getElementById("time-display")!.textContent =
      `${hours}:${minutes}:${seconds} ${period}`;
  }

  // Update the time every second
  setInterval(updateTime, 1000);

  // Initialize the time when the page loads
  updateTime();
</script>
